# Dependencies
node_modules/

# Production Build
dist/
build/

# Environment & Secrets
.env
.env.local

# Debugging & Logs
*.log
.eslintcache

# OS & Editor
.DS_Store
._*
*.swp
.vscode/
.idea/

# Database
*.sqlite
*.db

# Rust
target/
**/*.rs.bk

# --- RelayDB Binaries ---
*.relay
!builds/
!builds/*.relay